<div style="position: relative; height:80vh; width:60vw">
  <mat-grid-list cols="1" rowHeight="750px">

    <mat-grid-tile>
      <div AgWordCloud #wordCloudChart="ag-word-cloud" [wordData]="this.wordData" [options]="this.options"
        [width]="this.width">
      </div>
    </mat-grid-tile>

  </mat-grid-list>
