mat-sidenav-container /deep/, mat-sidenav-content /deep/, mat-sidenav /deep/ {
  height: 100%;
  /* overflow-y: hidden !important; */
}

mat-form-field {
  width: 100%;
}

mat-sidenav {
  width: 520px;
  /* overflow-y: hidden !important; */
}

main {
  padding: 10px;
  /* overflow-y: hidden !important; */
}

.float-left {
position: absolute;
left: 10px;
top: 10px;
}

h2 {
font-size: 2em;
margin-top: 0;
padding-top: 0;
}
nav a {
padding: 5px 10px;
text-decoration: none;
margin-top: 10px;
display: inline-block;
background-color: #eee;
border-radius: 4px;
}
nav a:visited, a:link {
color: #607d8b;
}
nav a:hover {
color: #039be5;
background-color: #cfd8dc;
}
nav a.active {
color: #039be5;
}
