<!--header-->
<mat-grid-list cols="1" rowHeight="40px">
  <mat-grid-tile-header>
    <mat-grid-tile>
      <mat-toolbar color="primary">
        <h1>{{ title }}</h1>
      </mat-toolbar>
    </mat-grid-tile>
  </mat-grid-tile-header>
</mat-grid-list>

<router-outlet></router-outlet>
