<!-- shows the list of results -->
<mat-card *ngFor="let result of searchResults">
  <mat-card-header>
    <mat-card-title>
      <a routerLink="/result/{{result.m_volume}}/{{result.m_page}}" routerLinkActive="router-link-active">
        <span>Band {{result.m_volume}}, </span>
        <span>Seite {{result.m_page}} </span>
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div><span [innerHTML]="result.snippet"></span></div>
  </mat-card-content>
</mat-card>
