<mat-card>
  <mat-card-header>
    <mat-card-title>Suchoptionen</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-checkbox [(ngModel)]="caseSensitive" (change)="onCaseSensitiveChange()" color="primary">Groß- und
      Kleinschreibung beachten
    </mat-checkbox><br />
    <mat-radio-group [(ngModel)]="typosAllowed" (change)="onTyposAllowedChange()">
      <mat-radio-button color="primary" style="font-size:8;" value="0" aria-label="0" checked="checked">0
      </mat-radio-button>
      <mat-radio-button color="primary" value="1" aria-label="1">1</mat-radio-button>
      <mat-radio-button color="primary" value="2" aria-label="2">2</mat-radio-button>
    </mat-radio-group>
    Rechtschreibfehler ignorieren<br>
    <mat-form-field>
      <mat-select [(value)]="languageFilter" placeholder="Sprache" (valueChange)="onLanguageFilterChange()">
        <mat-option value="">-- alle --</mat-option>
        <mat-option value="lat">Latein</mat-option>
        <mat-option value="griech">Griechisch</mat-option>
        <mat-option value="ital">Italienisch</mat-option>
        <mat-option value="franz">Französisch</mat-option>
        <mat-option value="port">Portugiesisch</mat-option>
        <mat-option value="span">Spanisch</mat-option>
        <mat-option value="engl">Englisch</mat-option>
        <mat-option value="nl">Niederländisch</mat-option>
        <mat-option value="schwed">Schwedisch</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Suchbereich</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-checkbox color="primary" [(checked)]="checkedAll" (change)="onCheckedAllChange()">
      Akademieausgabe komplett
      (Bände 1–23)
    </mat-checkbox><br />
    <mat-checkbox color="primary" [(checked)]="checkedAbt1" (change)="onCheckedAbt1Change()">Werke (Abt. I: Bände 1–9)
    </mat-checkbox><br />
    <div style="margin-left: 5%">
      <mat-checkbox color="primary" [(checked)]="checkedAbt1Bd1" (change)="onCheckedAbt1Bd1Change()">Bd. 1 Vorkritische
        Schriften I (1747–1756)
      </mat-checkbox>
      <br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 2 Vorkritische Schriften II (1757–1777)
      </mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" [(checked)]="checkedAbt1Bd3" (change)="onCheckedAbt1Bd3Change()">Bd. 3 Kritik der
        reinen Vernunft (2. Aufl. 1787)
      </mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" [(checked)]="checkedAbt1Bd4" (change)="onCheckedAbt1Bd4Change()">Bd. 4 Kritik der
        reinen Vernunft (1. Aufl.
        1781), <br />Prolegomena,<br />Grundlegung
        zur
        Metaphysik
        der Sitten,<br /> Metaphysische Anfangsgründe der Naturwissenschaft
      </mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 5 Kritik der praktischen Vernunft, Kritik
        der Urteilskraft
      </mat-checkbox>
      <br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 6 Die Religion innerhalb der Grenzen der
        blossen
        Vernunft,<br />Die
        Metaphysik
        der
        Sitten
      </mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 7 Der Streit der
        Fakultäten,<br />Anthropologie in
        pragmatischer
        Hinsicht
      </mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" [(checked)]="checkedAbt1Bd8" (change)="onCheckedAbt1Bd8Change()">Bd. 8 Abhandlungen
        nach 1781</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" [(checked)]="checkedAbt1Bd9" (change)="onCheckedAbt1Bd9Change()">Bd. 9 Logik.
        Physische Geographie, Pädagogik
      </mat-checkbox><br />
      <br />
    </div>


    <mat-checkbox color="primary" disabled>Briefwechsel (Abt. II: Briefe aus den Bänden 10–13
      und 23)
    </mat-checkbox>
    <br />
    <div style="margin-left: 5%">
      <mat-checkbox color="primary" disabled>Bd. 10</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 11</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 12</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 13</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 23</mat-checkbox><br />
      <br />
    </div>
    <mat-checkbox color="primary" disabled>Handschriftlicher Nachlass (Abt. III: Bände 14–23)
    </mat-checkbox>
    <br />
    <div style="margin-left: 5%">
      <mat-checkbox color="primary" disabled>Bd. 14</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 15</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 16</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 17</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 18</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 19</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 20</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 21</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 22</mat-checkbox><br />
      <mat-divider></mat-divider>
      <mat-checkbox color="primary" disabled>Bd. 23</mat-checkbox><br />
      <br />
    </div>
  </mat-card-content>
</mat-card>
